.about__wrapper {
  max-width: 1300px;
  padding-top: 150px;
  padding-bottom: 110px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    max-width: 768px;
    padding-top: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 70px;
  }
}

.about h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 31px;
  }
}

.about__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__number {
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1.27273px;
  color: $decoration-color;
  margin-bottom: 13px;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

.about__item {
  max-width: 263px;
  margin-bottom: 42px;
  margin-left: 19px;
  margin-right: 19px;

  @media (max-width: $tablet-width) {
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 43px;
  }
}

.about__item p {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 34px;
  }
}
