.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 51px;
  background-color: $decoration-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: transform 0.2s;
  }

  &:active {
    opacity: 0.5;
  }
}

.button__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}
