.form {
  max-width: 326px;

  @media (max-width: $tablet-width) {
    max-width: 321px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.form p {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $alt-text-color;
  padding: 0;
  padding-top: 6px;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $base-text-color;
    padding-top: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.form input {
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 12px 28px 10px 28px;
  background-color: #ffffff;
  border: 1px solid #C9CCD4;
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline-color: $decoration-color;

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #1c1c1c;
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    padding: 11px 21px 11px 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 12px 26px 10px 25px;
  }
}
