.main-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 825px;
    background-image: url("../img/bg-mainblock-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0d0d0d;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-mainblock-desktop@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/bg-mainblock-tablet@1x.jpg");
      height: 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-mainblock-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/bg-mainblock-mobile@1x.jpg");
      height: 390px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-mainblock-mobile@2x.jpg");
      }
    }
  }
}

.main-block__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 318px;
  padding-bottom: 240px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    max-width: 100%;
    padding: 0 23px;
    padding-top: 24px;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    padding-top: 24px;
  }
}
