.main-block {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 254px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    max-width: 100%;
    padding: 0 23px;
    padding-top: 24px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    padding-top: 24px;
  }
}
