.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  padding-top: 152px;
  padding-bottom: 98px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    padding-bottom: 53px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 50px;
  }
}

.page-footer__wrapper h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  margin-right: 10px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 30px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.page-footer__wrapper p {
  max-width: 555px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    max-width: 629px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 18px;
  }
}

.page-footer__map-container {
  position: relative;
  width: 957px;
  height: 530px;
  margin-bottom: 38px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 250px;
    margin-bottom: 32px;
  }
}

.page-footer__map-container img {
  position: absolute;
  top: -108px;
  width: 100%;

  @media (max-width: $tablet-width) {
    top: 0;
  }
}

.page-footer__contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  max-width: 630px;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.page-footer__contact-item {
  margin-bottom: 22px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__contact-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $base-text-color;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__contact-icon {
  margin-right: 15px;

  &--email {
    fill: $decoration-color;
  }

  &--phone {
    fill: transparent;
    stroke: $decoration-color;
  }
}

.page-footer__contact-link span {
  opacity: 0.5;
  transition: 0.1s;
}

.page-footer__contact-link:hover .page-footer__contact-icon,
.page-footer__contact-link:active .page-footer__contact-icon {
  opacity: 0.5;
  transition: 0.1s;
}

.page-footer__contact-link:hover span,
.page-footer__contact-link:active span {
  opacity: 1;
  transition: 0.1s;
}


