@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/openSans-Light.woff2") format("woff2"),
    url("../fonts/openSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/openSans-Regular.woff2") format("woff2"),
    url("../fonts/openSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/openSans-SemiBold.woff2") format("woff2"),
    url("../fonts/openSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/openSans-Bold.woff2") format("woff2"),
    url("../fonts/openSans-Bold.woff") format("woff");
}
